@import "variables";

* {
  margin: 0;
  padding: 0;
}

/* CORRECCION DE PROBLEMA DE ALINEACION QUE TRAIA CONSIGO BOOTSRAP*/
ul {
  padding-left: 0;
}

/*INICIO ESTILOS DEL HEADER*/

.imgLogo {
  width: 100px;
  border-radius: 50%;
  border: 1px white solid;
}

h1 {
  color: white;
}

header {
  height: fit-content;
  position: sticky;
  top: 0;
  z-index: 2;

  nav {
    background-color: $color-primario;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    transition: all 1s;
    font-size: 1.4rem;
  }
}

.navbar a {
  color: white;
}

h2 {
  text-align: center;
  margin: 0 0 2.5rem 0;
  padding: 2rem 0;
  background-color: $color-secundario;
  color: white;
  animation-duration: 1s;
}

/*FIN ESTILOS DEL HEADER*/

#productos {
  p {
    font-size: 1.2rem;
  }
}

.cardImg {
  width: 250px;
  align-self: center;
}

section {
  p {
    text-align: center;
    font-size: 1.2rem;
    margin: 0 20px 30px 20px;
  }
}

.imgWhatsapp {
  width: 65px;
}

.whatsapp {
  position: fixed;
  right: 30px;
  bottom: 55px;
  z-index: 2;
}

/* INICIO ESTILOS DEL FOOTER */

footer {
  background-color: $color-primario;
  color: white;

  nav {
    padding: 15px 0 20px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    div {
      width: 25%;
      padding: 1rem 0 0 0rem;
      text-align: center;
      h3 {
        padding-bottom: 1rem;
      }
    }
  }
}
ul {
  list-style-type: none;
}

li a {
  color: white;
  margin: 7px 0;
  text-decoration: none;

  nav li {
    margin: 7px 0;
  }
}

.derechos {
  margin-top: 50px;
  width: 100%;
}

/* FIN ESTILOS DEL FOOTER */

/* INICIO ESTILOS CONTACTANOS */ 
.infoContacto {
  font-size: 1.2rem;
  text-align: center;

    li { 
      margin: 50px 0;
    }
}

/* FIN ESTILOS CONTACTANOS */ 



/********* RESPONSIVE *********/

@media (max-width: 1120px) {
  /* RESPONSIVE DEL FOOTER */

  footer nav li {
    margin: 7px 0;
  }
}

@media (max-width: 900px) {
  /* RESPONSIVE DEL FOOTER */
  footer nav {
    flex-direction: column;
    align-items: center;

    div {
      width: fit-content;
    }
  }

  /* RESPONSIVE DEL HEADER */
  h1 { display: none
  }

/* RESPONSIVE CONTACTANOS */ 

}